body {
	background-color: #E0E0E0;
	font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
	text-align: center;
}

.header {
	background-color: #313338;
	color: white;
	width: 100%;
}
.header h1 {
	color: #F8F8F8;
	text-align: center;
	font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
	font-size: 1.75em;
	margin: 0.2em;
}
h3, h4, h5 {
	color: black;
	text-align: center;
	font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
}
table, th, td {
	border: 1px solid black;
	text-align: left;
	border-collapse: collapse;
	padding: 3px;
	width: auto;
}
th {
	background-color: #3366CC;
	color: #F8F8F8;
	font-weight: normal;
}
tr:nth-child(odd) {
	background-color: white;
}
tr:nth-child(even) {
	background-color: lightgray;
}
td a, td a:link, td a:visited {
	font-weight:normal;
	color:black;
	background: none;
	width: auto;
	text-decoration: underline;
	text-transform: none;
	margin: 0px;
	padding: 3px;
}
th a, th a:link, th a:visited {
        font-weight:normal;
        color:white;
        background: none;
        width: auto;
        text-decoration: underline;
        text-transform: none;
        margin: 0px;
        padding: 3px;
}
.ui-helper-center {
	text-align:center;
}
